body
  position relative
  -webkit-transition margin-left .5s

#outliner-sidebar
  
  // reset
  &, div, ol, li, a
    margin 0
    padding 0
    border 0
    font-size 100%
    font inherit
    vertical-align baseline
    line-height 1
    background transparent

#outliner-sidebar

  font-family sans-serif  
  position fixed
  top 0
  bottom 0
  background url('chrome-extension://__MSG_@@extension_id__/ui/low_contrast_linen.png') repeat
  overflow hidden
  -webkit-transition left .5s
  left -280px

  #outliner-sidebar-header
    position absolute
    left 0
    top 0
    bottom 0
    padding 0 5px
    width 32px
    background rgba(#000, .3)
    box-shadow 0 0 12px rgba(#000, .9)
    #outliner-sidebar-title
      font-size 26px
      color #000
      text-shadow -1px 0 rgba(#fff, .15)
      -webkit-transform rotate(-90deg) translateX(-75px)
    #outliner-sidebar-close-btn
      position absolute
      bottom 10px
      left 50%
      width 24px
      height 24px
      margin-left -12px
      cursor pointer
      &:before,
      &:after
        content ''
        display block
        position absolute
        width 24px
        height 4px
        top 10px
        border-radius 2px
        background-color #000
      &:before
        -webkit-transform rotate(45deg)
        box-shadow 1px 1px rgba(#fff, .15)
      &:after
        -webkit-transform rotate(-45deg)
        box-shadow -1px 1px rgba(#fff, .15)


  #outliner-sidebar-content-wrapper
    margin-left 42px
    background transparent
    overflow hidden
    box-sizing border-box
    position relative
    width 238px
    height 100%
    box-shadow inset -3px 0 12px rgba(#000, .5)
    #outliner-sidebar-content
      overflow auto
      position absolute
      top 5px
      left 5px
      bottom 5px
      right 5px
      box-sizing border-box
      color #ccc
      text-shadow 0 1px 2px black
      padding 5px
      ol
        padding 0 0 0 15px
        margin 0
        li
          margin 1em 0 0
          line-height 125%
          padding 0
          list-style none
          &.outliner-h1
            font-size 20px
          &.outliner-h2
            font-size 16px
          &.outliner-h3
            font-size 13px
          &.outliner-h4
            font-size 12px
          &.outliner-h5,
          &.outliner-h6,
          &.outliner-tagless
            & > a
              display none
          a
            color inherit
            text-decoration none
            -webkit-transition color 1s
            color #ccc
            &:hover
              color #fff
              -webkit-transition color .25s
            &.outliner-invisible
              display none
      & > ol
        padding-left 0 !important
        & > li
          margin-top 0 !important

    ::-webkit-scrollbar
      width 6px
      height 6px

    ::-webkit-scrollbar-thumb
      background-color rgba(0, 0, 0, .5)
      border-radius 5px

      &:hover
        background-color rgba(0, 0, 0, .75)
      &:active
        background-color rgba(0, 0, 0, .75)

    ::-webkit-scrollbar-button
      display none

    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-corner
      background transparent
